.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 16% 5.5% 120% 18%;
  grid-template-columns: repeat (3, 1fr);
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "main main main"
    "footer footer footer";
}

main {
  grid-area: main;
  display: grid;
  background-color: #d49a6a;
  grid-template-rows: 60% 40% ;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "courses courses courses"
    " . form . ";
}

.coursesBorder {
  border: 2px dotted black;
}

img {
  height: 10%;
  width: 20%;
}

.courses {
  grid-area: courses;
  display: flex;
  background-image: url(./assets/barista_course.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.courses p {
  color: white;
  font-size: 4rem;
}

form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

label {
  margin: 0.5rem;
}

input[type="text"] {
  height: 1.5rem;
  width: 15rem;
  border-radius: 1rem;
  border: 1px solid #804515;
  padding: 0.4rem;  
  margin: 0.3rem;
}

input[type="submit"] {
  width: 3rem;
  border-radius: 1rem;
  margin: 1rem;
}
