main {
  grid-area: main;
  display: grid;
  background-color: #D49A6A;
  grid-template-rows: 70% 30%;
  grid-template-columns: 1fr 1fr 1fr;
 grid-template-areas: 
 "coffeecup1 coffeecup2 coffeecup3"
 "price1 price2 price3";
}

.red{
  color: red;
}

.cupsBorder {
  border: 2px dotted black;
}


.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImg {
  max-height: 80vh;
  max-width: 80vw;
  width: auto;
  object-fit: cover;
}

.coffeecup1 {
  grid-area: coffeecup1;
  background-image: url(./assets/coffeecup1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.coffeecup2 {
  grid-area: coffeecup2;
  background-image: url(./assets/cofeecup2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;


}
.coffeecup3 {
  grid-area: coffeecup3;
  background-image: url(./assets/cofeecup3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.price1 {
  grid-area: price1;
  text-align: center;
}

.price2 {
  grid-area: price2;
  text-align: center;
}

.price3 {
  grid-area: price3;
  text-align: center;
}

