* {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
}

header {
  grid-area: header;
  background-color: #D49A6A;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
}

i {
  font-size: 1.3rem;
  margin: 1rem;
  display: flex;
  color: #804515;
}

.searchBar {
  margin: 1rem;
}

.searchBar input {
  height: 30%;
  width: 15rem;
  border-radius: 1rem;
  border: 1px solid #804515;
  padding: 0.4rem;
}

.icons {
  margin-right: 2rem;
}

.nrOfCartItems {
  position: absolute;
  top: 0.2rem;
  color: black;
  background-color: white;
  font-size: 12px;
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 50%;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  background-color: #B27442;
  font-size: 1.2rem;
  box-shadow: 0 -0.5rem 0.4rem 1rem #B27442;
}

.telMail p {
  margin-top: 1rem;
  margin-left:5rem;
}
.adress{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.adress div{
  padding-top: 1rem;
}

#icons {
  margin-right: 5rem;
}

footer i{
  margin: 1rem 0.5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  color: white;
}

.menu {
  display:flex;
  justify-content: space-evenly;
  grid-area: menu;
  text-align: center;
}

.menu p{
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

