main {
  grid-area: main;
  display: grid;
  background-color: #d49a6a;
  grid-template-rows: 70% 30%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "interior1 interior2 interior3"
    "price1 price2 price3";
}

.interiorBorder {
  border: 2px dotted black;
}

img {
  height: 10%;
  width: 20%;
}

.coffeecup1 {
  grid-area: interior1;
  background-image: url(./assets/interior1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.coffeecup2 {
  grid-area: interior2;
  background-image: url(./assets/interior2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}
.coffeecup3 {
  grid-area: interior3;
  background-image: url(./assets/interior3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.price1 {
  grid-area: price1;
  text-align: center;
}

.price2 {
  grid-area: price2;
  text-align: center;
}

.price3 {
  grid-area: price3;
  text-align: center;
}
